<.sidebar chatrooms={@streams.chatrooms} active_tab={@active_tab} />
<main class="px-4 py-20 sm:px-6 lg:px-8 w-full">
  <div class="mx-auto max-w-2xl h-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
