<div class="w-full h-full flex flex-col lg:flex-row">
  <.sidebar current_user={@current_user} chatrooms={@streams.chatrooms} active_tab={@active_tab} />
  <div class="px-4 py-10 sm:px-6 lg:px-8 w-full h-full min-h-0 flex-shrink">
    <div class="mx-auto max-w-2xl  h-full">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </div>
</div>
